# This is a template for the environment variables required by the BusinessSuite app.
# Create a copy of this file named ".env" and fill in your real credentials.
# IMPORTANT: Never commit your real ".env" file to GitHub!

# MongoDB Connection URL for License Activation
BUSINESS_SUITE_MONGO_URL=mongodb+srv://imurtaza97:1A2B3c5352@businesssuite.bcfrlsv.mongodb.net/?appName=businesssuite